#fee_settings
{
	position: fixed;
	top: 0;
	left:  0;
	padding: 2px;
	z-index: 9999;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	line-height: 0;
	-moz-box-shadow: 1px 1px 2px #858585;
	-webkit-box-shadow: 1px 1px 2px #858585;
	box-shadow: 1px 1px 2px #858585;
	background-color: white;
	cursor: pointer;
}
#fee_settings_icon
{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	background: #fff url('../icons/fee_state.png') no-repeat 0 0;
}
#fee_settings_icon:hover
{
	background-position: 0 -32px !important;
}

#fee_preview
{
	position: fixed;
	top: 0;
	right:  0;
	padding: 2px;
	z-index: 9999;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 5px;
	font-size: 12px;
	line-height: 0;
	-moz-box-shadow: 1px 1px 2px #858585;
	-webkit-box-shadow: 1px 1px 2px #858585;
	box-shadow: 1px 1px 2px #858585;
	background-color: white;
	cursor: pointer;
}
#fee_preview_icon
{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	background: url('../icons/preview_state.png') no-repeat 0 0 #fff;
}
#fee_preview_icon:hover
{
	background-position: 0 -32px !important;
}

.fee_editable:hover,
.fee_flash,
.mobile .fee_editable
{
	outline: 2px dotted black;
	outline-offset: -2px;
}

#fee_toolbar
{
	visibility: hidden;
	position: absolute;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: -42px;
	padding: 0 !important;
	height: 60px;
	font-size: 12px;
	z-index: 9999;
}
#fee_toolbar ul
{
	height: 42px;
	margin: 0 !important;
	padding: 0 !important;
	min-width: 120px;
	max-width: 185px;
	background-color: #4a4a4a;
	border: 3px solid #4a4a4a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-width: 2px;
}
#fee_toolbar li
{
	margin: 4px !important;
	padding: 2px 2px 0 !important;
	display: inline-block;
	list-style-type: none !important;
	line-height: 0 !important;
}
#fee_toolbar a
{
	display: inline-block;
	padding: 0 !important;
	width:  32px;
	height:  32px;
	line-height: 0!important;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}
#fee_toolbar a:hover
{
	background-position: 0 -32px;
}

#fee_content_edit
{
	background-image: url('../icons/edit_content.png');
}
#fee_article_edit
{
	background-image: url('../icons/edit_article.png');
}
#fee_page_edit
{
	background-image: url('../icons/edit_page.png');
}
#fee_news_edit
{
	background-image: url('../icons/edit_article.png');
}
#fee_content_add
{
	background-image: url('../icons/add_content.png');
}

/*
.fee_toolbar li a img
{
	margin: 0!important;
	padding: 0!important;
	border: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
*/

#fee_toolbar p
{
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 18px !important; /* hinzugefügt wg. besserer Lesbarkeit*/
	margin: 0 !important;
	min-width: 180px;
	padding: 4px 4px 2px 4px!important;
	border: 3px solid #4a4a4a;
	/* border-top: none; */
	/* border-bottom-right-radius: 5px; */
	background: none repeat scroll 0 0 #6a6a6a;
	color: #e0e0e0;
	font: normal normal 12px/18px sans-serif;
	text-decoration: none;
	text-transform: none;
	text-align: left;
}
#fee_toolbar a::after
{
	content: "" !important;
}

#fee_content_add_item,
#fee_news_edit_item
{
	display: none;
}
.fee_editable:hover .fee_toolbar,
.fee_flash .fee_toolbar,
.mobile .fee_editable .fee_toolbar
{
	visibility: visible;
}





