#fee_settings
{
	position: fixed;
	top: 0;
	left:  0;
	height: 26px;
	width:  36px;
	padding: 0;
	z-index: 9999;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	line-height: 0;
	background: url('../images/application.png') no-repeat 10px 5px #fff;
	-moz-box-shadow: 1px 1px 2px #858585;
	-webkit-box-shadow: 1px 1px 2px #858585;
	box-shadow: 1px 1px 2px #858585;
	cursor: pointer;
}
#fee_settings img
{
	margin-top: 4px;
}

#fee_preview
{
	position: fixed;
	top: 0;
	right:  0;
	height: 26px;
	width:  36px;
	padding: 0;
	z-index: 9999;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-left-radius: 5px;
	font-size: 12px;
	line-height: 0;
	background: url('../images/lightbulb_off.png') no-repeat 10px 5px #fff;
	-moz-box-shadow: 1px 1px 2px #858585;
	-webkit-box-shadow: 1px 1px 2px #858585;
	box-shadow: 1px 1px 2px #858585;
	cursor: pointer;
}

.fee_editable:hover,
.fee_flash,
.mobile .fee_editable
{
	outline: 2px dotted black;
	outline-offset: -2px;
}

.fee_toolbar
{
	visibility: hidden;
	position: absolute;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: -32px;
	padding: 0 !important;
	height: 60px;
	font-size: 12px;
	z-index: 9999;
}
.fee_toolbar ul
{
	height: 30px;
	margin: 0 !important;
	padding: 0 !important;
	min-width: 100px;
	max-width: 120px;
	background-color: #fff;
	border: 2px solid #222;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}
.fee_toolbar li
{
	margin: 4px !important;
	padding: 2px 2px 0 !important;
	display: inline-block;
	list-style-type: none !important;
	line-height: 0 !important;
}
.fee_toolbar li.fee_content_edit
{
	padding-right: 8px !important;
	border-right: 1px solid silver !important;
}
.fee_toolbar li a
{
	padding: 0 !important;
	width:  16px;
	height:  16px;
	line-height: 0!important;
	border-bottom: 1px solid white;
}
.fee_toolbar li a:hover
{
	border-bottom: 1px solid silver;
}
.fee_toolbar li a img
{
	margin: 0!important;
	padding: 0!important;
	border: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.fee_toolbar p
{
	box-sizing: content-box;
	height: 18px !important; /* hinzugefügt wg. besserer Lesbarkeit*/
	margin: 0 !important;
	min-width: 120px;
	padding: 4px 2px 0 4px!important;
	border: 2px solid #222;
	border-bottom-right-radius: 5px;
	background: none repeat scroll 0 0 #999;
	color: white;
	font: normal normal 12px/18px sans-serif;
	text-decoration: none;
	text-transform: none;
	text-align: left;
}
.fee_toolbar a::after
{
	content: "" !important;
}

#fee_content_add_item,
#fee_news_edit_item
{
	display: none;
}
.fee_editable:hover .fee_toolbar,
.fee_flash .fee_toolbar,
.mobile .fee_editable .fee_toolbar
{
	visibility: visible;
}
